/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-gsaptest {
	padding: 2px;
	display: flex;
	flex-direction: column;
	.controls {
		display: flex;
		justify-content: flex-end;
		margin-top: 2.5em;
	}
}
